{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <title>Image Compression App</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Image Compression App</h1>
        </header>
        <main>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Compress Image</button>
            </form>
            <div class="btn-container">
                <a href="/">Back Home</a>
            </div>
        </main>
    </div>
</body>
</html>
